<h1>Sapo Boi Azul</h1>


<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/sapo_azul_de_pintas_pretas.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sapo Boi Azul</h5>
        <p class="card-text">Dendrobates tinctorius "azureus" é uma espécie de anfíbio que também pode ser chamado de sapo-boi-azul (conhecido como tamma) e pode ser encontrada nas florestas da região de Sipaliwini, no Suriname, e no extremo norte do Brasil. Possui uma pele de cor azul metálica, com manchas negras. Estas cores chamativas advertem os possíveis predadores de que a espécie contém um potente veneno neurotóxico na pele.[2] Recentes estudos confirmaram que Dendrobates azureus não é mais do que uma variante polimórfica de Dendrobates tinctorius,[3][4] uma espécie amplamente distribuída no Suriname, Guiana e Brasil.
        <a href="https://pt.wikipedia.org/wiki/Dendrobates_tinctorius_%22azureus%22" class="btn btn-primary">Saiba Mais!!</a>
      </div><!--fim do card-body-->
    </div><!--fim do card -->
  </div><!--fim do col -->
</div><!--fim do row -->


