<h1>Dragão de Komodo</h1>


<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/Dragao_de_comodo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">DRAGÃO DE KOMODO</h5>
        <p class="card-text">Dragão-de-komodo: o maior lagarto do mundo - Mundo Educação
          Essa espécie se destaca como o maior lagarto do mundo, apresentando cerca de três metros de comprimento e pesando mais de 160 kg. Tem uma cauda robusta e forte e patas curtas com garras poderosas. O focinho do dragão-de-komodo é arredondado e ele possui uma língua bifurcada, que se assemelha à de uma cobra.</p>
        <a href="https://mundoeducacao.uol.com.br/biologia/dragao-de-komodo.htm" class="btn btn-primary">Saiba Mais!!</a>
      </div><!--fim do card-body-->
    </div><!--fim do card -->
  </div><!--fim do col -->
</div><!--fim do row -->

